body {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

.map {
    width: 50%;
}

.map img {
    width: 100%;
}

.stations-list-item {
    display: block;
    width: 100%;
}

.stations-list-item div.id-value {
    position: absolute;
    right: 0;
}