#list {

}

.item {
    list-style-type: none;
    border: 1px solid grey;
    background-color: lightgrey;
    position: absolute;
    transition: all 0.5s;
    width: 20px;
    height: 19px;
}

.item.focus {
    background-color: lightseagreen;
}
